// Colors
$base: #333;

// Sitewide fonts
// @font-face {
//   font-family: 'FONTNAME';
//   src:url('../fonts/FONTNAME.eot');
//   src:url('../fonts/FONTNAME.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/FONTNAME.woff') format('woff'),
//     url('../fonts/FONTNAME.ttf') format('truetype'),
//     url('../fonts/FONTNAME.svg#FONTNAME') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@mixin sprite($pos) {
  background: url(../images/sprite.png) no-repeat scroll 0 0;
  background-position: $pos;
  display: block;
  height: 0;
  overflow: hidden;
}

@mixin btn {
  background-color: #ccc;
  color: #fff;
  display: block;
  font-size: 1.1em;
  font-weight: 700;
  padding: 7px 30px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  @include transition (all .3s);
  &:hover {
    background-color:#aaa;
  }
}

// Mixin will pull into app.css & editor.css, which can be used for consistent wysiwyg styling
@mixin editorstyles {

  body {
    color: $base;
    font-family: 'Arial', sans-serif;
    font-size: 100%;
    line-height: 2em;
  }

  /* Tables */
  table, thead, td, tr, th {
    border: none;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
  td, th {
    padding: 7px 20px;
  }

  // General Content Styles
  .page, .page p {
    a {
      color: #ccc;
      &:hover {
        color: #aaa;
      }
    }
  }
  .page p {
    margin-bottom: 3em;
  }

  // Typography Basics - from Gridless http://thatcoolguy.github.com/gridless-boilerplate/
  h1, h2, h3, h4, h5, h6 {
      font-size: 1em;
  }
  h1 {
      font-size: 4.25em; /* 68px */
      line-height: 1.1471em;
      margin: 0 0 0.3824em;
  }

  h2 {
      font-size: 2.625em; /* 42px */
      line-height: 1.2381em;
      margin: 0 0 0.619em;
  }

  h3 {
      font-size: 1.625em; /* 26px */
      line-height: 1em;
      margin: 0 0 1em;
  }
  .page blockquote, blockquote {
    clear: both;
    float: left;
    position: relative;
    padding: 0 0 0 1%;
    margin: 1% 6% 3% 0;
    width: 45%;
    p {
      font-size: 1.4em;
      margin:0;
    }
  }
  .btn, button {
    @include btn;
  }

}



//
//  Drupal-specific defaults
//
.sidebar .block {
    clear: both;
    margin-bottom: 20px;
}
// Default view list styles - mothership may override these classes by default
.view-content ul, .view-content ol {
  margin: 0;
  padding: 0;
}
.item-list ul li.views-row, .views-row {
  list-style: none;
  margin:0;
  padding: 0;
  position: relative;
}
// tabs
ul.primary {
  height: 23px;
  margin-left: 0;
  padding-left: 1%;
  li {
    display: inline;
    margin: 0;
    padding: 0;
    a {
      border-radius: 3px 3px 0 0;
      font-size: .8em;
      padding: 7px;
    }
  }
}
// Forms
form small, form .description {
  color: #5f5f5f;
}
label, label.required {
  display: block;
  font-weight: 700;
}
label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px;
}
input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0;
  padding: 9px 34px 9px 10px;
}
textarea {
  border:none;
  border-radius:5px 5px 0 0;
  padding: 9px;
}
input[type="submit"] {
  @include btn;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

// responsive images, videos
img, object, video {
  height: auto;
  max-width: 100%;
}

// Overrides for Media module to make fitVids work
.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
    height: auto !important;
    width: auto !important;
}
